.schedule {
    grid-column: schedule-s/schedule-e;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: [space-one-s] 1.75fr [space-one-e] repeat(5, 1fr) [progress-s] 1fr [progress-e];
    grid-row-gap: 22px;
    
    align-items: center;
    justify-items: center;
    align-content: start;

    &--title {
        color: white;
        font-family: $fontOne;
        font-size: 20px;
        text-align: center;
        font-weight: 300;

        @include borderLeft;
    }
}